<a class="post-link" href="/post/{{id}}">
  <div>
    <img src="{{path}}">
  </div>
</a>
<div class="flex">
  {{#if favorited}}
  <input class="favorite-checkbox" type="checkbox" checked />
  {{else}}
  <input class="favorite-checkbox" type="checkbox" />
  {{/if}}
  <div class="description">
    <p>{{user.username}}</p>
  </div>
</div>