<form id="radio-form">
  <div>
    <label id="url-radio-label" for="url-radio">Screenshot Webpage</label>
    <input id="url-radio" name="add-method" type="radio" checked>
  </div>
  
  |

  <div>
    <label id="file-radio-label" for="file-radio">Upload Image</label>
    <input id="file-radio" name="add-method" type="radio">
  </div>
</form>

<br><br><br>

<form id="url-screenshot-form" style="display:block">
  <label for="url-input">Enter full url:</label>
  <input id="url-input" type="text">

  <br><br>

  <label for="url-caption-input">Enter a caption:</label>
  <input id="url-caption-input" type="text">
  
  <br><br>
  <button id="url-submit-btn" type="submit">Submit</button>
</form>

<form id="file-upload-form" style="display:none">
  <label for="file-input">Enter a file:</label>
  <input id="file-input" type="file">

  <br><br>
  <div id="image-preview"></div>

  <label for="file-caption-input">Enter a caption:</label>
  <input id="file-caption-input" type="text">

  <br><br>
  <button id="file-submit-btn" type="submit">Submit</button>
</form>

<p id="feedback"></p>

<script src="/javascript/add-post.js"></script>