<h2>Your Posts</h2>
<p><a href="/dashboard/add-post">Create New Post</a></p>
<p><a href="/dashboard/favorites">See Your Favorites</a></p>

<section class="posts">
  {{#each posts as |post|}}
  {{> post-info post}}
  <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
  {{/each}}
</section>

<script src="/javascript/favorite.js"></script>