<h2>Your Favorites</h2>
<p><a href="/dashboard">Back to Dashboard</a></p>

<section class="posts">
  {{#each posts as |post|}}
  {{> post-info post.post}}
  {{/each}}
</section>

<script src="/javascript/favorite.js"></script>