<h2>Homepage</h2>

<section class="posts">
  {{#each posts as |post|}}
  <div class="content">
    <article class="post animated" data-post-id="{{post.id}}">
      {{> post-info post}}
    </article>
  </div>
  {{/each}}
</section>

<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="/javascript/grid-resize.js"></script>
<script src="/javascript/favorite.js"></script>