<form id="login-form">
  <div>
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="text" id="password-login" />
  </div>
  <div>
    <button id="submit-btn" type='submit'>Log In</button>
  </div>
</form>

<p>Don't have an account yet? <a id="signup-link" href="/signup">Sign up.</a></p>

<p id="feedback"></p>

<script src="/javascript/login.js"></script>