* {
    box-sizing: border-box;
}

body {
	background: linear-gradient(-45deg, #002535, #003851, #22646e);
	background-size: 15000% 15000%;
	animation: gradient 15s ease infinite;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color .1s;
}

a:hover {
    color: #1dacee;
}

#logout {
    color: #ffffff
}

#logout:hover {
    color: #1dacee
}

button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #1dacee;
}

.post-list {
    margin: 0;
    padding: 0;
}

textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
}

#radio-form div,
#radio-form div input,
#radio-form div label {
    display: inline;
    padding-bottom: 5px;
}

#radio-form div label:hover {
    color: #1dacee;
}

#radio-form div input {
    display: none;
}

#url-radio-label {
    border-bottom: #cff03f solid 3px;
}

#url-input,
#url-caption-input,
#file-caption-input {
    width: 90%;
}

form > div {
    margin-bottom: 2%;
}

form label {
    display: block;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}

header h1 {
    font-size: 1em;
}

main {
    flex: 1;
    padding: 2% 4%;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}

.btn-no-style:hover {
    background: none;
    color: #3486eb;
}

#delete-post-btn {
    background-color: #d41414;
}

#delete-post-btn:hover {
    background-color: #ff643d;
}

.post {
    margin-bottom: 2%;
    line-height: 150%;
}

.post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
}

.edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
}

.upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
}

.upvote-btn:hover {
    background-color: #1f9c13;
}

.comment-form {
    margin-bottom: 5%;
}

.comment {
    padding: 1%;
    margin-bottom: 1%;
}

.comment:nth-child(odd) {
    background-color: #fff5eb;
}

.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
}

.new-post-form input {
    width: 300px;
}

.edit-post-form {
    margin-bottom: 5%;
}

footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}