* {
    box-sizing: border-box;
}

body {
	background: linear-gradient(-45deg, #002535, #003851, #22646e);
	background-size: 15000% 15000%;
    animation: gradient 15s ease infinite;
    word-wrap: break-word;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color .1s;
}

a img {
    transition: color 10s;
}

a:hover {
    color: #1dacee;
}

a:hover img {
    filter: brightness(70%);
}

.post-link {
    width: 250px;
}

#logout {
    color: #ffffff
}

#logout:hover {
    color: #1dacee
}

button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #1dacee;
}

.post-list {
    margin: 0;
    padding: 0;
}

input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus {
    outline: none;
    border: 1px solid #3486eb;
}

#radio-form div,
#radio-form div input,
#radio-form div label {
    display: inline;
    padding-bottom: 5px;
}

#radio-form div label:hover {
    color: #1dacee;
}

#radio-form div input {
    display: none;
}

#url-radio-label {
    border-bottom: #cff03f solid 3px;
}

#url-input,
#url-caption-input,
#file-caption-input,
#caption-input {
    width: 90%;
}

form > div {
    margin-bottom: 2%;
}

form label {
    display: block;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}

header h1 {
    font-size: 1em;
}

main {
    flex: 1;
    padding: 2% 4%;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}

.btn-no-style:hover {
    background: none;
    color: #3486eb;
}

#delete-post-btn {
    float: right;
    background-color: #d41414;
}

#delete-post-btn:hover {
    background-color: #ff643d;
}

.posts {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1px;
}

.content {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    max-height: 450px;
}

.post {
    margin-bottom: 0;
    line-height: 150%;
}

.post p {
    font-weight: bold;
}

.post img {
    width: 250px;
    border-radius: 5px;
}
.post div img {
    object-fit: cover;
    max-height: 450px;
}

.flex {
    display: flex;
    align-content: center;
}

.description {
    padding-left: 10px;
    vertical-align: middle;
}

.favorite-checkbox {
    align-self: center;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border: 0;
    position: relative;
    outline: 0px;
    transform: rotate(45deg);
    -webkit-appearance: none;
}

.favorite-checkbox:before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 60%;
    width: 100%;
    top: -41%;
    right: 2%;
    border-radius: 75px 75px 0 0;
}

.favorite-checkbox:after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 60%;
    width: 100%;
    transform: rotate(-90deg);
    border-radius: 75px 75px 0 0;
    top: 20%;
    right: 59%;
}

.favorite-checkbox:checked,
.favorite-checkbox:checked:before,
.favorite-checkbox:checked:after {
    background-color: #fe0f42;
}

#single-post img {
    border-radius: 5px;
    width: auto;
    max-width: 60%;
    float: left;
    margin-right: 25px;
}

#single-post p {
    font-weight: bold;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}